---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://sminn.ee/</loc>
  </url>
  {%- for post in collections.post %}
  <url>
    <loc>{{ post.url | absoluteUrl("https://sminn.ee/") }}</loc>
    <lastmod>{{ post.date | dateToRfc3339 }}</lastmod>
  </url>
  {%- endfor %}
</urlset>
